@font-face {
    font-family: 'Westminster';
    src: url('/static/fonts/Westminster.ttf'); /* Adjust the path based on your directory structure */
}

h1 {
    font-family: 'Westminster', sans-serif; /* Fallback to sans-serif if Westminster doesn't load */
    font-size: 70px;
}

body {
    background-color: #F4EAD5;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer li {
    display: inline;
    margin: 0 15px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.screenshots {
    display: flex;
    justify-content: space-between; /* Distributes space evenly between the images */
    gap: 20px; /* Adds space between the images */
}

.screenshots img {
    max-width: 55%; /* Adjust this value as needed to resize the images */
    height: auto; /* Maintains the aspect ratio of the images */
}

#locationsTable td {
    white-space: normal; /* Allows text to wrap */
}

/* This CSS will apply when the screen width is less than 768 pixels */
@media (max-width: 767px) {
    /* Assuming your table has an ID of 'locationsTable' */
    #locationsTable {
        width: 100% !important; /* Make sure the table itself is full width */
    }

    /* Target the 'Name' column (column 1) */
    #locationsTable td:nth-child(2),
    #locationsTable th:nth-child(2) {
        width: 30%; /* Adjust the width as needed */
    }

    /* Target the 'Altitude' column (column 2) */
    #locationsTable td:nth-child(3),
    #locationsTable th:nth-child(3) {
        width: 20%; /* Adjust the width as needed */
    }

    /* Target the 'Type' column (column 5) */
    #locationsTable td:nth-child(6),
    #locationsTable th:nth-child(6) {
        width: 25%; /* Adjust the width as needed */
    }
}
