<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Glider Flight Planner</title>

        <!-- Favicon for modern browsers -->
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='android-chrome-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='android-chrome-512x512.png') }}">

        <!-- Favicon for older browsers -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- Web Manifest (optional, for Progressive Web Apps) -->
        <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
        <!-- Bootstrap JS and Popper.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
        <!-- DataTables CSS and JS -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    
        <!-- DataTables Select Extension CSS and JS -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>

        <!-- DataTables Responsive Extension CSS and JS -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
        <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>

    
        <link rel="stylesheet" href="/static/css/styles.css"> 
    </head>
    
    <body>
    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <!-- Links -->
                <div class="col-md-6">
                    <ul class="footer-links">
                        <li><a href="/about-us" target="_blank" rel="noopener noreferrer">About Us</a></li>
                        <li><a href="/terms-of-service" target="_blank" rel="noopener noreferrer">Terms of Service</a></li>
                        <li><a href="/privacy-policy" target="_blank" rel="noopener noreferrer">Privacy Policy</a></li>
                        <li><a href="/faq" target="_blank" rel="noopener noreferrer">FAQ</a></li>
                    </ul>
                </div>

                <!-- Acknowledgment and Contact -->
                <div class="col-md-6">
                    <p>Acknowledgment: This site uses <a href="https://leafletjs.com/" target="_blank" rel="noopener noreferrer">Leaflet.js</a> for map rendering.</p>
                    <p>Feedback? <a href="/contact-us" target="_blank" rel="noopener noreferrer">Contact Us</a></p>
                </div>
            </div>
        </div>
    </footer>
    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="alexcodeglider" data-description="Support me on Buy me a coffee!" data-message="Support Glider Flight Planner by buying me a coffee!" data-color="#40DCA5" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
</body>
</html>
