<!-- templates/display_map.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processed Glider Flight Map</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Processed Glider Flight Map</h1>
        <div id="map">
            {{ map_html | safe }}
        </div>
        <a href="/" class="btn btn-primary mt-3">Go Back</a>
    </div>
</body>
</html>
