{% extends "base.html" %}

{% block redirect_link %}
    <!-- This block is intentionally left empty to override the base template and remove the link -->
{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to Glider Flight Planner</h1>
    <p class="lead">Plan your flights with ease and precision:</p>
    <ul class="lead">
        <li>Select landing locations and set flight parameters.</li>
        <li>View high-resolution maps with minimum altitude contour rings.</li>
        <li>Overlay contours on satellite imagery, topographic maps, and FAA sectional charts.</li>
    </ul>
    <p class="lead">Remember, this tool is for pre-flight ground planning only. Always ensure to cross-check with other flight planning resources.</p>
    <p class="lead">To suggest new landing locations, <a href="{{ url_for('contact_us') }}">contact us</a>. Start by reading our <a href="{{ url_for('user_guide') }}">User Guide</a> and <a href="{{ url_for('disclaimer') }}">Disclaimer</a>.</p>
    <p class="lead">Please don't forget to support our efforts! <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="alexcodeglider" data-color="#40DCA5" data-emoji="✈️" data-font="Comic" data-text="Support the app!" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script></p>
    <!-- Display screenshots and app features -->
    <div class="screenshots">
        <img src="{{ url_for('static', filename='Screenshot1.png') }}" alt="Flight Planner Screenshot 1">
        <img src="{{ url_for('static', filename='Screenshot2.png') }}" alt="Flight Planner Screenshot 2">
        <!-- Add more screenshots as needed -->
    </div>
    
    <form method="post">
        <div class="form-check mt-3">
            <input class="form-check-input" type="checkbox" name="agree_terms" id="agree_terms">
            <label class="form-check-label" for="agree_terms">
                I have read and agree to the <a href="{{ url_for('terms_of_service') }}">Terms and Conditions</a>.
            </label>
        </div>
        <button type="submit" class="btn btn-primary my-3" id="submit_button" disabled>Proceed to Flight Planner</button>
    </form>
</div>

<script>
    // Script to enable the submit button when terms are agreed to
    document.getElementById('agree_terms').addEventListener('change', function() {
        document.getElementById('submit_button').disabled = !this.checked;
    });
</script>

{% endblock %}
